<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

	<connectionStrings>
		<add name="mydb" connectionString="server=localhost;database=TeachAssist;uid=sa;pwd=sa"/>
	</connectionStrings>

	<system.webServer>
		<handlers>
			<!--列表功能-->
			<add name="sa" path="students" verb="GET" type="StudentManageSystem.StudentList" />
			<!--详情功能-->
			<add name="sb" path="student/detail" verb="GET" type="StudentManageSystem.StudentDetail" />
			<!--添加功能-->
			<add name="sc" path="student/add" verb="GET" type="StudentManageSystem.StudentAddForm" />
			<add name="sd" path="student/add" verb="POST" type="StudentManageSystem.StudentAddSubmit" />
			<!--修改功能-->
			<add name="se" path="student/update" verb="GET" type="StudentManageSystem.StudentUpdateForm" />
			<add name="sf" path="student/update" verb="POST" type="StudentManageSystem.StudentUpdateSubmit" />
			<!--删除功能-->
			<add name="sg" path="student/delete" verb="GET" type="StudentManageSystem.StudentDelete" />
			<!--查看日志-->
			<add name="la" path="logs" verb="GET" type="StudentManageSystem.LogView" />
		</handlers>
		<modules>
			<add name="ma" type="StudentManageSystem.MyLogModule"/>
			<!--add name="mb" type="StudentManageSystem.AModule"/>-->
		</modules>
	</system.webServer>
</configuration>